/* Webfont: Brush */@font-face {
  font-family: "Brush";
  src: url("../resources/fonts/brush.woff") format('woff');
  font-style: normal;
}

.font-family--brush {
  font-family: "Brush", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Webfont: LatoLatin-Hairline */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Hairline.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Thin */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Thin.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Light.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Medium */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Medium.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Semibold */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Heavy */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Black */@font-face {
  font-family: 'Lato';
  src: url('../resources/fonts/lato/LatoLatin-Black.eot'); /* IE9 Compat Modes */
  src: url('../resources/fonts/lato/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../resources/fonts/lato/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
  url('../resources/fonts/lato/LatoLatin-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
