.navbar-brand {
  line-height: 1.3;
  margin: 0;
  padding: 0;

  span {
    display: block;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
    margin-right: 3rem;
  }
}

.navbar-toggler {
  &:hover {
    background-color: rgba($white, .1);
  }
}

.navbar-nav {
  @include media-breakpoint-down(sm) {
    padding-top: 0.5rem;
  }

  li {
    @include media-breakpoint-down(sm) {
      border-bottom: 1px rgba($white, .3) solid;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}