<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark right">
  <a class="navbar-brand" href="/">Piotr Smykaj<span>tasking for VML</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Main menu">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/task-1.html">Task 1</a>
      </li>
    </ul>
  </div>
</nav>