/*
 * Component
 */
.country {
  @extend .d-flex;
  align-items: center;
}

/*
 * Elements
 */
.country__flag {
  background: -moz-linear-gradient(45deg, rgba(130,130,130,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(130,130,130,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(130,130,130,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6828282', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 3px #fff solid;
  box-shadow: 0 0 5px $gray-300;
  width: 2.5rem;
  height: 2rem;
  margin: 0 0.5rem;

  img {
    display: block;
  }
}

.country__name {
  color: $red;
  font-size: 12px;
  font-weight: bold;
}

/*
 * Modifiers
 */
.country__name--empty {
  letter-spacing: 2px;
}

.country--disabled {
  filter: grayscale(100%);
  opacity: 0.2;
}