/*
 * Component
 */
.ladder-tile {
  background-color: #fff;
  border: 1px $gray-300 solid;
  font-size: $font-size-sm;
  text-align: center;
  padding: 0.5rem 1rem;
  width: 14rem;
}

/*
 * Elements
 */
.ladder-tile__top {
  color: #000;
  font-weight: bold;
}

.ladder-tile__medium {
  @extend .d-flex;
}

.ladder-tile__v {
  font-size: 4rem;
  line-height: 3.5rem;
}

.ladder-tile__bottom {
  color: $gray-700;
  font-size: 14px;
  line-height: 1.3rem;
}
