$ladder-side-margin: 60px;

/*
 * Component
 */
.ladder {
  @extend .d-flex;
  justify-content: center;
}

/*
 * Elements
 */
.ladder__item {
  @extend .d-flex;
  flex-direction: column-reverse;

  p {
    padding: 20px;
    margin: 0;
    background-color: Beige;
  }
}

.ladder__item-parent {
  position: relative;
  margin-top: $ladder-side-margin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:after {
    position: absolute;
    content: '';
    width: 2px;
    height: $ladder-side-margin/2;
    left: 50%;
    top: 0;
    background-color: $red;
    transform: translateY(-100%);
  }
}

.ladder__item-children {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.ladder__item-children-2 {
  @extend .ladder__item-children;
  margin-bottom: $ladder-side-margin / 2;
}

.ladder__item-child {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;

  &:before {
    content: '';
    position: absolute;
    background-color: $red;
    bottom: 0;
    left: 50%;
    transform: translateY(100%);
    width: 2px;
    height: $ladder-side-margin / 2;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: $red;
    bottom: -$ladder-side-margin / 2;
    height: 2px;
    width: calc(50% + 22px);
    left: 50%;
  }
  &:last-child {
    &:after {
      transform: translateX(-100%);
    }
  }
  &:only-child:after {
    display: none;
  }
}

.ladder__label {
  color: $red;
  font-weight: bold;
  font-size: $font-size-lg;
  margin: 1.5rem 0;
  text-transform: uppercase;
  text-align: center;
}

/*
 * Modifiers
 */
.ledder__label--semifinals {
  position: absolute;
  top: -$ladder-side-margin * 3;
}

.ledder__label--quarterfinals {
  position: absolute;
  top: -$ladder-side-margin * 7.93;
}