/*
 * Modifiers
 */
.task--1 {
  background: rgb(43,16,21); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(43,16,21,1) 0%, rgba(15,44,55,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(43,16,21,1) 0%,rgba(15,44,55,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(43,16,21,1) 0%,rgba(15,44,55,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b1015', endColorstr='#0f2c37',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
