{{> partials/head }}
{{> partials/nav }}

<main role="main">
  <div class="container">
    <h1 class="page-title">Tasks</h1>
    <p>There is a page of task 1 result which you can see it on separate page. Please choose task from the main menu in the header.</p>
    <p>It's only one task done, I spent on it a few hours and I think it is enough to check my approach and skills and I don't have more hours to do good work for free. If you want more - we can work for a trial period.</p>
  </div>
</main>

{{> partials/footer }}