{{> partials/head }}
{{> partials/nav }}

<main role="main" class="task task--1">
  <div class="container">
    <h2 class="page-title text-center text-white">Pool ladder</h2>

    <div class="ladder">
      <div class="ladder__item">
        <div class="ladder__item-parent">
          <div class="ladder-tile">
            <div class="ladder-tile__top">FRI 28 OCT</div>
            <div class="ladder-tile__medium">
              <div class="country">
                <div class="country__name country__name--empty">...</div>
                <div class="country__flag"></div>
              </div>
              <span class="ladder-tile__v font-family--brush text-red">v</span>
              <div class="country">
                <div class="country__flag"></div>
                <div class="country__name country__name--empty">...</div>
              </div>
            </div>
            <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
          </div>
          <div class="ladder__label">FINAL</div>
          <div class="ladder__label ledder__label--semifinals">SEMI FINALS</div>
          <div class="ladder__label ledder__label--quarterfinals">QUARTER FINALS</div>
        </div>
        <div class="ladder__item-children">
          <div class="ladder__item-child">
            <div class="ladder__item">
              <div class="ladder__item-parent">
                <div class="ladder-tile">
                  <div class="ladder-tile__top">FRI 28 OCT</div>
                  <div class="ladder-tile__medium">
                    <div class="country">
                      <div class="country__name country__name--empty">...</div>
                      <div class="country__flag"></div>
                    </div>
                    <span class="ladder-tile__v font-family--brush text-red">v</span>
                    <div class="country">
                      <div class="country__flag"></div>
                      <div class="country__name country__name--empty">...</div>
                    </div>
                  </div>
                  <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                </div>
              </div>
              <div class="ladder__item-children">
                <div class="ladder__item-child">
                  <div class="ladder__item">
                    <div class="ladder__item-parent">
                      <div class="ladder-tile">
                        <div class="ladder-tile__top">FRI 28 OCT</div>
                        <div class="ladder-tile__medium">
                          <div class="country">
                            <div class="country__name country__name--empty">...</div>
                            <div class="country__flag"></div>
                          </div>
                          <span class="ladder-tile__v font-family--brush text-red">v</span>
                          <div class="country">
                            <div class="country__flag"></div>
                            <div class="country__name country__name--empty">...</div>
                          </div>
                        </div>
                        <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                      </div>
                    </div>
                    <div class="ladder__item-children">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__label">POOL A</div>
                  </div>
                </div>
                <div class="ladder__item-child">
                  <div class="ladder__item">
                    <div class="ladder__item-parent">
                      <div class="ladder-tile">
                        <div class="ladder-tile__top">FRI 28 OCT</div>
                        <div class="ladder-tile__medium">
                          <div class="country">
                            <div class="country__name country__name--empty">...</div>
                            <div class="country__flag"></div>
                          </div>
                          <span class="ladder-tile__v font-family--brush text-red">v</span>
                          <div class="country">
                            <div class="country__flag"></div>
                            <div class="country__name country__name--empty">...</div>
                          </div>
                        </div>
                        <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                      </div>
                    </div>
                    <div class="ladder__item-children">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__label">POOL B</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ladder__item-child">
            <div class="ladder__item">
              <div class="ladder__item-parent">
                <div class="ladder-tile">
                  <div class="ladder-tile__top">FRI 28 OCT</div>
                  <div class="ladder-tile__medium">
                    <div class="country">
                      <div class="country__name country__name--empty">...</div>
                      <div class="country__flag"></div>
                    </div>
                    <span class="ladder-tile__v font-family--brush text-red">v</span>
                    <div class="country">
                      <div class="country__flag"></div>
                      <div class="country__name country__name--empty">...</div>
                    </div>
                  </div>
                  <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                </div>
              </div>
              <div class="ladder__item-children">
                <div class="ladder__item-child">
                  <div class="ladder__item">
                    <div class="ladder__item-parent">
                      <div class="ladder-tile">
                        <div class="ladder-tile__top">FRI 28 OCT</div>
                        <div class="ladder-tile__medium">
                          <div class="country">
                            <div class="country__name country__name--empty">...</div>
                            <div class="country__flag"></div>
                          </div>
                          <span class="ladder-tile__v font-family--brush text-red">v</span>
                          <div class="country">
                            <div class="country__flag"></div>
                            <div class="country__name country__name--empty">...</div>
                          </div>
                        </div>
                        <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                      </div>
                    </div>
                    <div class="ladder__item-children">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__label">POOL C</div>
                  </div>
                </div>
                <div class="ladder__item-child">
                  <div class="ladder__item">
                    <div class="ladder__item-parent">
                      <div class="ladder-tile">
                        <div class="ladder-tile__top">FRI 28 OCT</div>
                        <div class="ladder-tile__medium">
                          <div class="country">
                            <div class="country__name country__name--empty">...</div>
                            <div class="country__flag"></div>
                          </div>
                          <span class="ladder-tile__v font-family--brush text-red">v</span>
                          <div class="country">
                            <div class="country__flag"></div>
                            <div class="country__name country__name--empty">...</div>
                          </div>
                        </div>
                        <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                      </div>
                    </div>
                    <div class="ladder__item-children">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__item-children-2">
                      <div class="ladder__item-child">
                        <div class="ladder-tile">
                          <div class="ladder-tile__top">FRI 28 OCT</div>
                          <div class="ladder-tile__medium">
                            <div class="country">
                              <div class="country__name">AUS</div>
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/au.svg" /></div>
                            </div>
                            <span class="ladder-tile__v font-family--brush text-red">v</span>
                            <div class="country country--disabled">
                              <div class="country__flag"><img class="img-fluid" src="/resources/images/flags/nz.svg" /></div>
                              <div class="country__name">NZ</div>
                            </div>
                          </div>
                          <div class="ladder-tile__bottom">Mt Smart Stadium, Auckland NZ, 8:10PM NZDT</div>
                        </div>
                      </div>
                    </div>
                    <div class="ladder__label">POOL D</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> partials/footer }}